unstructured[all-docs]
pillow
pydantic
lxml
matplotlib
langchain
openai
python-dotenv
fastapi
jinja2
python-multipart
uvicorn
tiktoken
opencv-python
langchain_core
langchain_openai
chromadb
langchain-google-genai
langchain-community
streamlit
PyPDF2==3.0.1
IPython
boto3
fastapi 
uvicorn 
sqlalchemy
pymysql

